.categorie_list {
    position: relative;
  background: #f6f6f6;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  word-wrap: break-word;
  .name {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  .date {
    font-size: 9px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .text {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .delete {
    
    background: #9b1212;
    color: white;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    right: 12px;
    bottom: 6px;

  }
}